/*html {
	font-size: 14px;
}*/

body {
	font-family: "Istok Web", sans-serif;
}

.text-shadow {
	text-shadow: 1px 1px 0 #000;
}

.bg-navy-blue {
	background-color: #6082b6;
}

.bg-dark-gray {
	background-color: #444444;
}

.bg_xp {
	background-color: #d0b731;
}

.bg_next_xp {
	background-color: #85adad;
}

.bg-ps4 {
	background-color: #337ab7;
}

.bg-xb1 {
	background-color: #5cb85c;
}

.bg-bnet {
	background-color: #00aeff;
}

.font-light-gray {
	color: #999999;
}

.link-light-gray:link, .link-light-gray:visited, .link-light-gray:hover, .link-light-gray:active {
	color: #999999;
}

.font-power-level {
	color: #f0d751;
}

.box-shadow-b {
	box-shadow: 0 1px 2px #000;
}

.box-shadow-br {
	box-shadow: 1px 1px 0 #000;
}

.box-shadow-2-br {
	box-shadow: 1px 1px 2px #000;
}

.text-shadow {
	text-shadow: 1px 1px 0 #000;
}

.text-shadow-2 {
	text-shadow: 2px 2px 0 #000;
}

.font-logo {
	font-family: "Source Sans Pro", sans-serif;
}

.font-10px {
	font-size: 10px;
}

.font-12px {
	font-size: 12px;
}

.font-14px {
	font-size: 14px;
}

.font-16px {
	font-size: 16px;
}

.font-18px {
	font-size: 18px;
}

.font-21px {
	font-size: 21px;
}

.font-24px {
	font-size: 24px;
}

.font-32px {
	font-size: 32px;
}

.no-decoration:link, .no-decoration:visited, .no-decoration:hover, .no-decoration:active {
	text-decoration: none;
}

.h-20 {
	height: 20%;
}

.h-60 {
	height: 60%;
}

#top_options > img {
	cursor: pointer;
}

.dropdown-item:hover {
	background-color: #333333!important;
	cursor: pointer;
}

.item_outline {
	outline: 5px solid #f0d751;
}

#help_translate {
	background-color: #f0d751;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 50%, transparent 55%);
	box-shadow: 0 0 2px #000;
}

#string_warning {
	display: none;
	border: 1px solid #000;
	border-radius: 5px;
	background-color: #d0b731;
}

.loader {
	font-variant: small-caps;
}

#char_list, #reward_list, #prog_factions, #milestone_list {
	min-height: 84px;
}

.section_title {
	font-family: Cousine, monospace;
	text-transform: uppercase;
	letter-spacing: 4px;
	cursor: pointer;
}

#small_character, #small_clan, #small_milestone, #small_faction {
	display: none;
}

#small_character > img {
	width: 12px;
	height: 12px;
	margin: 0 5px 0 0;
	vertical-align: middle;
}

.character {
	width: 316px;
	height: 64px;
	background-size: 316px 64px;
	cursor: pointer;
}

.character_class, .character_description {
	padding-left: 60px;
	line-height: 1;
}

.character_power, .character_level {
	padding-right: 5px;
	line-height: 1;
}

#progression_container {
	padding: 2px 5px 5px 5px;
}

.level_progression_char {
	background-color: #6b6;
}

#reload_buttons {
	position: relative;
	z-index: 10;
	font-family: Cousine, monospace;
	letter-spacing: 4px;
	font-weight: bold;
}

.reload_hover {
	background-color: rgba(68, 68, 68, 0.9);
}

#reload_info {
	cursor: pointer;
	background-color: #d0b731;
	outline: 1px solid #000;
}

#reload_info_off {
	cursor: default;
	background-color: #333;
	outline: 1px solid #000;
	color: #444;
	text-shadow: -1px -1px 0 #222;
}

#auto_reload {
	cursor: pointer;
	outline: 1px solid #000;
}

#auto_reload_off {
	cursor: default;
	background-color: #333;
	outline: 1px solid #000;
	color: #444;
	text-shadow: -1px -1px 0 #222;
}

.repeat_on {
	background-color: #6b6;
	box-shadow: 1px 1px 2px #000 inset;
}

.repeat_off {
	background-color: #999;
	box-shadow: 1px 1px 2px #000;
}

#interval_info {
	font: italic 12px "Istok Web", sans-serif;
	letter-spacing: initial;
	color: #999;
	text-shadow: 1px 1px 0 #000;
}

.clan_engram {
	width: 60px;
	height: 60px;
	background: url("../img/clan/clanEngram.png") center center/60px 60px no-repeat;
}

.acquired_engram {
	background: url("../img/clan/earnedClanEngram.png") center center/60px 60px no-repeat;
}

.clan_engram > img {
	width: 40px;
	height: 40px;
	margin: 10px;
}

.checkbox {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 5px;
	border: 2px solid #444;
	outline: 1px solid #999;
}

.checked {
	background-color: #6b6;
}

.milestone:nth-child(even), .faction:nth-child(even) {
	background-color: #ccc;
}

.milestone:nth-child(odd), .faction:nth-child(odd) {
	background-color: #999;
}

.faction_img {
	width: 100px;
	height: 100px;
}

.faction_name, .faction_description {
	line-height: 1;
}

.info_col > hr {
	margin: 5px 0 10px 0;
	border: 0;
	background-image: linear-gradient(to right, #333 40%, transparent 70%);
	height: 4px;
}

.material_img {
	width: 18px;
	height: 18px;
	box-shadow: 1px 1px 1px 0;
}

.level_number {
	height: 16px;
	line-height: 16px;
}

.faction_xp {
	height: 16px;
	background-color: #ddd;
}

.xp_numbers {
	z-index: 5;
	left: 0;
	top: 0;
	height: 16px;
	line-height: 16px;
}

.numbers_on {
	color: #000;
	background-color: rgba(255, 255, 255, 0.3);
}

.numbers_off {
	color: transparent;
	background-color: transparent;
}

#manifest_ver {
	font-family: "Cousine", monospace;
}

#options {
	box-sizing: border-box;
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.6);
	font: 16px "Istok Web", sans-serif;
	text-align: center;
	display: none;
}

#options_contents {
	box-sizing: border-box;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	border-top: 4px solid #873044;
	padding: 10px 20px 20px 20px;
	background-color: rgba(50, 50, 50, 0.8);
	box-shadow: 0 1px 1px #222 inset;
	display: none;
}

.options_title {
	margin: 0;
	padding: 0;
	font: 16px "Istok Web", sans-serif;
	color: #fff;
	text-shadow: 1px 1px 0 #000;
	text-align: left;
	line-height: 20px;
}

.options_group {
	box-sizing: border-box;
	margin: 0;
	padding: 10px 0;
}

.options_group input[type="radio"] {
	display: none;
}

.options_group label {
	box-sizing: border-box;
	padding: 5px 10px;
	background-color: #999;
	box-shadow: 1px 1px 2px #000;
	outline: 1px solid #000;
	font: 12px Cousine, monospace;
	text-transform: uppercase;
	color: #000;
	cursor: pointer;
	border: 1px solid #fff;
}

.options_group input[type="radio"]:checked + label {
	background-color: #6b6;
	text-shadow: none;
	box-shadow: 1px 1px 2px #000 inset;
}

.button {
	box-sizing: border-box;
	display: inline-block;
	margin: 20px 0 0 0;
	padding: 5px 15px;
	background-color: #f0d751;
	outline: 1px solid #000;
	box-shadow:1px 1px 2px #000;
	font: bold 14px Cousine, monospace;
	text-transform: uppercase;
	letter-spacing: 4px;
	cursor: pointer;
}

#overlay {
	box-sizing: border-box;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	z-index: 20;
	display: none;
}

#overlay_contents {
	box-sizing: border-box;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	border-top: 4px solid #873044;
	padding: 10px 20px 20px 20px;
	background-color: rgba(50, 50, 50, 0.8);
	box-shadow: 0 1px 1px #222 inset;
	display: none;
}

#overlay_contents p {
	margin: 0;
	padding: 0;
	font: 16px "Istok Web", sans-serif;
	color: #fff;
	text-shadow: 1px 1px 0 #000;
	text-align: right;
	line-height: 20px;
}